.wrap{
    width: 1200px;
    margin:0 auto;
}
.wraper{
    width: 100px;
    margin:0 auto;
}
.head{
    padding-top:32px;
}
.head_L{
    width: 500px;
}
.head_L span{
    margin-left:50px;
    margin-top:98px;
    font-size:14px;
    color: #626262;
}
.head_R{
    padding-right:100px;
    width: 600px;
    height: 120px;
}
.head_R_nav{
    height: 20px;
    margin-right:18px;
}
.head_R_nav a{
    height: 20px;
    font-size:12px;
    color: #8d8d8d;
    float: left;
    line-height:20px;
    padding:0 5px;
} 
.head_R_nav a b{
    padding-left:-3px;
    padding-right:5px;
    float: left;
    width: 15px;
    height: 100%;
    background:url("../images/telleft.png") no-repeat left;
}
.head_R_nav a i{
    float: right;
    margin-top:4px;
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
    background:url("../images/icon_lj.png") no-repeat -8px -8px;
}
.head_R p{
    width: 100%;
    margin-top:30px;
    margin-right:9px;
}
.head_R p a{
    font-size:12px;
    color: #797979;
    float: right;
}
.head_R p i{
    margin-left:8px;
    margin-top:2px;
    float: right;
    width: 4px;
    height: 12px;
    background:url("../images/icon_lj.png") no-repeat -13px -8px;
}
.head_R_search{
    float: right;
    margin-top:31px;
    position: relative;
}
.head_R_search span{
    font-size:12px;
    color: #606060;
}
.head_R_search input{
    font-size:12px;
    color: #606060;
    width: 284px;
    height: 20px;
}
.head_R_search b{
    position: absolute;
    right:6px;
    top: 4px;
    width: 15px;
    height: 15px;
    background:url("../images/s_1.jpg") no-repeat left;

}
/*nav*/
.nav{
    margin-top:20px;
    height: 50px;
    background: #797979;
}
.nav-s ul{
    height: 50px;
    margin-left:180px;
}
.nav-s ul li{
    float: left;
    margin-right:70px;
    height: 100%;
    line-height:50px;
}
.nav-s ul li a{
    font-size:16px;
    color: #fff;
    font-weight: bold;
}
/*tab*/
.tab{
    height: 620px;
}
.tab-s{
    height: 620px;
    width: 100%;
}
.tab-s li{
    float: left;
    height: 620px;
    position: relative;
}
.tab-s li img{
    width: 100%;
    height: 620px;
    position: absolute;
    left:0;
}
.swiper-pagination span{
    width: 20px;
    height: 20px;
    border-radius:100px;
}
/*DR*/
.dr{
    height: 320px;
    background: #f5f6fa;
    margin-top:20px;
}
.dr_ul{
}
.dr_ul li{
    width: 390px;
    height: 300px;
    float: left;
    position: relative;
}
.dr_li{
    margin:0 15px;
}
.dr_ul li img{
    width: 100%;
    height: 100%;
}
.dr_ul li h3{
    position: absolute;
    left:0;
    top:15px;
    width:100%;
    height: 50px;
    font-size:20px;
    line-height:50px;
    text-align: center;
    color: #1a1a1a;
}
.dr_ul li p{
    position: absolute;
    left:0;
    top:65px;
    width:100%;
    height: 28px;
    font-size:14px;
    line-height: 28px;
    text-align: center;
    color: #666;
}
/**/
.entity{
    height: 90px;
    background: #dfcbc5;
    position: relative;
}
.entity img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-76px;
    margin-top:-69px;
}
.entity a{
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-12px;
    width: 100px;
    height: 24px;
    line-height:24px;
    z-index: 1;
    text-align: center;
    font-size:17px;
    color: #fff;
}
/**/
.region_ul{
    width: 438px;
    overflow: hidden;
    margin-left:385px;
    margin-top:45px;
}
.region_ul li{
    float: left;
    height: 20px;
    line-height:20px;
    padding-right:22px;
    margin-left:16px;
    border-right:1px solid #bcbcbc;

}
.region_ul .region_li{
    border-right:1px solid #fff;
}
.region_ul li a{
    float: left;
    color: #666;
    font-size:17px;
}
/*明星故事*/
.star{
    height: 470px;
    margin-top:12px;
}
.star_L{
    width: 495px;
    height: 470px;
    position: relative;
}
.star_L_1{
    width: 336px;
    height: 30px;
    background: #fff;
    padding:6px 14px;
    position: absolute;
    top: 194px;
    left: 68px;
    line-height:30px;
}
.star_L_1 span{
    font-size:14px;
    color: #4c4c4c;
}
.star_L_1 input{
    outline:none;
    border:none;
    color: #bf967c;
    padding-left:20px;
    background:url("../images/z_1.jpg") no-repeat left;
}
.star_L_1 a{
    position: absolute;
    right:10px;
    top:10px;
    width: 22px;
    height: 22px;
    background:url("../images/s_2.jpg") no-repeat left;
}
.star_L_2{
    position: absolute;
    top:268px;
    left:68px;
    background: #d49e85;
    color: #fff;
    width: 365px;
    height: 44px;
    font-size:14px;
    text-align: center;
    line-height:44px;
}
.star_C{
    width: 315px;
    height: 470px;
    float: left;
    background: #f1f0f1;
}
.star_C p{
    width: 100%;
    text-align: center;
    font-size:21px;
    color: #1a1a1a;
    margin-top:144px;
}
.star_C h5{
    width: 60px;
    border-top:1px solid #2f2f2f;
    margin-top:26px;
    margin-left:127px;
}
.star_C h4{
    font-size:14px;
    text-align: center;
    width: 100%;
    color: #c57d5c;
    margin-top:13px;
}
.star_C h3{
    font-size:15px;
    color: #666;
    width: 100%;
    margin-top:15px;
    text-align: center;
}
.star_C a{
    display: block;
    width: 118px;
    height: 32px;
    margin-top:38px;
    margin-left:97px;
    border:1px solid #c57d5c;
    color: #c57d5c;
    font-size:14px;
    text-align: center;
    line-height:32px;
}
.star_R{
    width: 390px;
    height: 470px;
    background: #f1f0f1;
}
.star_R ul li{
    margin-top:50px;
    width: 360px;
    height: 355px;
    background: #fff;
}
.star_R ul li p{
    font-size:14px;
    color: #1a1a1a;
    width: 100%;
    text-align: center;
    margin-top:36px;
}
.star_R ul li h6{
    font-size:14px;
    color: #666;
    text-align: center;
    width: 100%;
    font-weight: normal;
    margin-top:12px;
}
.star_R ol{
    width: 100%;
    height:10px;
    margin-top:30px;
}
.star_R ol li{
    width: 10px;
    height: 10px;
    float: left;
    margin-left:20px;
    border-radius: 100px;
    border: 1px solid #565656;
}
/*--------------------------*/
.promise{
    position: relative;
    margin-top:22px;
    margin-bottom:28px;
}
.promise_L{
    width: 460px;
    height: 153px;
    position: absolute;
    top: 80px;
    left: 0;
}
.promise_L p{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size:18px;
    color: #1a1a1a;
}
.promise_L h5{
    width: 60px;
    border-top:1px solid #2f2f2f;
    margin-top:26px;
    margin-left:200px;
}
.promise_L h4{
    font-size:14px;
    text-align: center;
    width: 100%;
    color: #666;
    margin-top:14px;
    font-weight:normal;
}
.promise_L h3{
    font-size:15px;
    color: #666;
    width: 100%;
    margin-top:16px;
    text-align: center;
    font-weight:normal;
}
.promise_L a{
    display: block;
    width: 100%;
    margin-top:16px;
    color: #666;
    font-size:14px;
    text-align: center;
}
.promise_R{
    width: 460px;
    height: 153px;
    position: absolute;
    top: 80px;
    right: 0;
}
.promise_R p{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size:18px;
    color: #1a1a1a;
}
.promise_R h5{
    width: 60px;
    border-top:1px solid #2f2f2f;
    margin-top:26px;
    margin-left:200px;
}
.promise_R h4{
    font-size:14px;
    text-align: center;
    width: 100%;
    color: #666;
    margin-top:14px;
    font-weight:normal;
}
.promise_R h3{
    font-size:15px;
    color: #666;
    width: 100%;
    margin-top:16px;
    text-align: center;
    font-weight:normal;
}
.promise_R a{
    display: block;
    width: 100%;
    margin-top:16px;
    color:#c57d5c;
    font-size:14px;
    text-align: center;
}
/*-----------------*/
.recommend{
    margin-top:32px;
    margin-bottom:28px;
}
.recommend_a li{
    float: left;
    width: 400px;
    height: 450px;
    /*margin-left:10px;*/
    position: relative;
}
.recommend_a li p{
    width: 100%;
    height: 100px;
    text-align: center;
    position: absolute;
    left:0;
    bottom:0;
}
.recommend_a li p span{
    display: block;
    width: 100%;
    text-align: center;
    font-size:18px;
    color: #000;
    margin-bottom:30px;
}
.recommend_a li p a{
    color: #c57d5c;
    font-size:14px;
}
.recommend_b{
    margin-top:35px;
    position: relative;
}
.recommend_b p{
    width: 100%;
    height: 9px;
    background: #626262;
}
.recommend_b h4{
    width:calc(100% - 32px);
    height: 54px;
    font-size:17px;
    margin-top:5px;
    color: #626262;
    line-height: 54px;
    font-weight:normal;
    padding-left:32px;
    background: #e0cbc6;
    margin-bottom:20px;
}
.recommend_b_div{
    width: 450px;
    height: 151px;
    position: absolute;
    right:60px;
    top:248px;
    text-align: center;
}
.recommend_b_div h3,h2{
    width: 100%;
    height: 38px;
    font-weight:normal;
    line-height:38px;
    font-size:20px;
    color: #1a1a1a;
    text-align: center;
}
.recommend_b_div span{
    display: inline-block;
    width: 60px;
    border-top:1px solid #2f2f2f;
}
.recommend_b_div h6{
    height: 26px;
    line-height:26px;
    font-size:14px;
    color: #666;
    width: 100%;
    text-align: center;
}
.recommend_b_div a{
    display:inline-block;
    font-size:14px;
    color: #d9b39b;
}
/*------------------------*/

.recommend_c{
    margin-top:35px;
    position: relative;
}
.recommend_c p{
    width: 100%;
    height: 9px;
    background: #626262;
}
.recommend_c h4{
    width:calc(100% - 32px);
    height: 54px;
    font-size:17px;
    margin-top:5px;
    color: #626262;
    line-height: 54px;
    font-weight:normal;
    padding-left:32px;
    background: #e0cbc6;
    margin-bottom:20px;
}
.recommend_c_div{
    width: 450px;
    height: 113px;
    position: absolute;
    top:248px;
    left:60px;
    text-align: center;
    
}
.recommend_c_div h3{
    width: 100%;
    height: 38px;
    font-weight:normal;
    line-height:38px;
    font-size:20px;
    color: #1a1a1a;
    text-align: center;
}
.recommend_c_div span{
    display: inline-block;
    width: 60px;
    border-top:1px solid #2f2f2f;
}
.recommend_c_div h6{
    height: 26px;
    line-height:26px;
    font-size:14px;
    color: #666;
    width: 100%;
    text-align: center;
}
.recommend_c_div a{
    display:inline-block;
    font-size:14px;
    color: #d9b39b;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.gift{
    margin-top:32px;
    text-align: center;
}
.gift_a{
    position: relative;
}
.gift_a ol{
    display: inline-block;
}
.gift_a ol li{
    float: left;
    width: 260px;
    height: 45px;
    text-align: center;
    line-height: 45px;

}
.gift_a li a{
    font-size:20px;
    color: #666;
}
.gift_s{
    width: 45px;
    height: 45px;
    position: absolute;
    right:36px;
    font-size:14px;
    color: #d9b39b;
    top:0;
    line-height:45px;
}
.gift_b li{
    float: left;
}
/*!!!!!!!!!!!!!!!!!!!!*/
.trueLove{
    margin-top:33px;
    margin-bottom:120px;
}
.trueLove_a{
    position: relative;
}
.trueLove_a p{
    width: 100%;
    height: 9px;
    background: #626262;
}
.trueLove_a h4{
    width: calc(100% - 32px);
    height: 54px;
    background: #e0cbc6;
    color: #626262;
    font-size:17px;
    line-height: 54px;
    padding-left:32px;
    font-weight: normal;
    margin-top:5px;
    margin-bottom:20px;

}
.trueLove_a h4 a{
    width: 45px;
    height: 100%;
    float: right;
    font-size:14px;
    color: #d9b39b;
    margin-right:36px;
}
.trueLove_a_div{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 138px;
    left:0;
}
.trueLove_a_div h5{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height:40px;
    font-size:22px;
    color: #000;
    font-weight:normal;
}
.trueLove_a_div span{
    width: 60px;
    display: inline-block;
    border-top:1px solid #2f2f2f;
}
.trueLove_a_div h6{
    width: 100%;
    height: 26px;
    text-align: center;
    line-height:26px;
    font-size:17px;
    color: #000;
    font-weight:normal;
}
.trueLove_b li{
    float: left;
    position: relative;
}
.trueLove_b_div{
    width: 600px;
    height: 96px;
    position: absolute;
    left:0;
    top:36%;
    text-align: center;
}
.trueLove_b_div h5{
    font-size:24px;
    color: #fff;
    height: 40px;
    width: 600px;
    font-weight: normal;
    text-align: center;
}
.trueLove_b_div a{
    width: 120px;
    height: 34px;
    border:1px solid #c57d5c;
    font-size:14px;
    color: #c57d5c;
    text-align: center;
    line-height:34px;
    display: inline-block;
    margin-top:20px;
}






























/*-----------------------------------------------------*/
.foot{
    border-top:1px solid #9f9f9f;
}
.foot-A{
    border-top:1px solid #202020;
}
.foot-B{
    border-top:1px solid #ebebeb;
}
.foot-C{
    height: 20px;
    background: #f6f6f6;
}
/*foot-D*/
.foot-D ul{
    margin-left:141px;
    margin-top:30px;
    margin-bottom:30px;
}
.foot-D ul li{
    float: left;
    width: 70px;
    margin-right:72px;
}
.foot-D ul li img{
    margin-left:5px;
}
.foot-D ul li p{
    width: 100%;
    font-size:12px;
    color: #666;
    text-align: center;
    margin-top:18px;
}
/*foot-E*/
.foot-E{
    background: #e9e9e9;
    height: 100px;
}
.foot-E_1{
    height: 100px;
    overflow: hidden;
}
.foot-E_1 ul{
    margin-left:100px;
    margin-top:26px;
}
.foot-E_1 ul li{
    float: left;
    padding-left:46px;
    height: 38px;
    font-size:20px;
    line-height:38px;
    color: #797979;
    margin-right:49px;
    background:url("../images/icon_lj1.png") no-repeat left;
}
.foot-E_1 div{
    margin-top:28px;
}
.foot-E_1 p{
    font-size:12px;
    color: #888;
}
.foot-E_1 h3{
    font-size:18px;
    color: #797979;
    margin-top:12px;
    margin-left:16px;
}
/*foot-F*/
.foot-F{
    background: #797979;
}
.foot-F_1 ul{
    padding-top:56px;
    padding-bottom:72px;
    margin-left:120px;
}
.foot-F_1 ul li{
    float: left;
    width: 60px;
    height: 100px;
    padding:2px 50px 0;
    border-right:1px solid #959292;
}
.foot-F_1 ul .foot-F_1_li{
    border-right:1px solid #797979;
}
.foot-F_1 ul li a{
    float: left;
    font-size:14px;
    color: #cdcdcd;
    margin-top:5px;
}
.foot-F_2 p{
    font-size:13px;
    width: 100%;
    text-align: center;
    color: #c9c7c7;
}
.foot-F_2 h4{
    margin-top:6px;
    font-size:13px;
    width: 100%;
    text-align: center;
    color: #c9c7c7;
}
.foot-F_2_div{
    width: 970px;
    margin-top:13px;
    margin-left:115px;
    text-align: center;
}
.foot-F_2_div span{
    font-size:12px;
    color: #999898;
}
.foot-F_2_div a{
    display: inline-block;
    font-size:12px;
    color: #999898;
    margin:0 6px 4px 6px;
}
.foot-F_2_div h3{
    width: 100%;
    height: 70px;
    font-size:14px;
    color: #cdcdcd;
    margin-top:65px;
}

























































